

<div ng-show="search.NbResultUser>0">
    <h1>User</h1>
    <div class="row top-BigSearch" ng-repeat="resultUsr in userSearch">
            <div class="col-md-1" ng-click="showUser(resultUsr.Id)">
                <img class="profil-img" fallback-src="~/Images/UserProfile.png" ng-src="{{apiUrl}}{{resultUsr.ProfilImagePath}}" />
            </div>
            <div class="col-md-1" ng-click="showUser(resultUsr.Id)">
                <h4>{{resultUsr.Pseudo}}</h4>
            </div>
    </div>
    <div class="row" ng-show="MoreUsers">
        <a href="" ng-href="/Search/{{searchValue}}/{{maxUser + 10}}/{{maxGab}}">show more...</a>
    </div>
</div>

<div ng-show="search.NbResultGabs>0">
    <h1>Gabs</h1>
    <div class="row top-BigSearch" ng-click="showGab(resultGab.Id)" ng-repeat="resultGab in gabSearch">
        <div class="col-md-1">
            <img class="profil-img" fallback-src="~/Images/UserProfile.png" title="{{resultGab.User.Pseudo}}" ng-src="{{apiUrl}}{{resultGab.User.ProfilImagePath}}"/>
        </div>
        <div class="col-md-1">
            <p>{{resultGab.Content | substr }}</p>
        </div>
    </div>
    <div class="row" ng-show="MoreGabs">
        <a href="" ng-href="/Search/{{searchValue}}/{{maxUser}}/{{maxGab + 10}}">show more...</a>
    </div>
</div>















