<form class="navbar-form navbar-left search-form"
      name="searchForm" role="search" ng-controller="SearchCtrl">
    <div class="dropdown" ng-class="{open: searchVal}">
        <div ng-class="{'input-group': searchVal}" style="max-width: 300px;">
            <input ng-model="searchVal" id="searchTxt" name="searchTxt" type="text" class="form-control" ng-change="search()" placeholder="Search">
            <span ng-show="searchVal" class="input-group-btn">
                <button class="btn btn-primary" ng-click="close()">
                    X
                </button>
            </span>
        </div>
        <div class="dropdown-menu" id="searchDropdownDiv">
            @* result users *@
            <div class="col-md-12 search-dropdown" ng-show="result.NbResultUser>0">
                <div class="row top-search">
                    Users ~ {{result.NbResultUser}} Resultats
                    <a class="pull-right" href="" ng-href="/Search/{{searchVal}}/10/10">show more...</a>
                </div>
                <div class="row search-result" ng-repeat="resultUsr in result.ListOfUser">
                    <div class="col-md-2" ng-click="showUser(resultUsr.Id)">
                        <img class="profil-img-sm" fallback-src="~/Images/UserProfile.png" ng-src="{{apiUrl}}{{resultUsr.ProfilImagePath}}" />
                    </div>
                    <div class="col-md-6" ng-click="showUser(resultUsr.Id)">
                        <h4>{{resultUsr.Pseudo}}</h4>
                    </div>
                    <div class="col-md-4" ng-hide="resultUsr.Pseudo == actualUser.Pseudo">
                        <button ng-click="follow(resultUsr.Id)" ng-hide="isFollowing.indexOf(resultUsr.Id) != -1" class="btn btn-primary btn-sm pull-right">Follow ({{resultUsr.NbFollowers}})</button>
                        <button ng-click="unfollow(resultUsr.Id)" ng-show="isFollowing.indexOf(resultUsr.Id) != -1" class="btn btn-primary btn-sm pull-right">UnFollow ({{resultUsr.NbFollowers}})</button>
                    </div>
                </div>
            </div>
            @* result gabs *@
            <div class="col-md-12" ng-show="result.NbResultGabs>0">
                <div class="row top-search">
                    Gabs ~
                    {{result.NbResultGabs}} Resultats
                    <a class="pull-right" href="" ng-href="/Search/{{searchVal}}/10/10">show more...</a>
                </div>
                <div class="row search-result" ng-click="showGab(resultGab.Id)" ng-repeat="resultGab in result.ListOfGab">
                    <div class="col-md-2">
                        <img class="profil-img-sm" fallback-src="~/Images/UserProfile.png" title="{{resultGab.User.Pseudo}}" ng-src="{{apiUrl}}{{resultGab.User.ProfilImagePath}}" />
                    </div>
                    <div class="col-md-9">
                        <p>{{resultGab.Content | substr }}</p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>