@{
    PageData["title"] = "Gabbler";
}

@RenderPage("../Shared/_PartialGab.cshtml") 

<div class="row">
    <button class="btn btn-info" ng-click="getMoreGabs()" ng-hide="gabs.isAllShow">voir plus</button>
</div>