

.gab{
    background-color: @gab-bg-color;
    border-radius: @gab-border-radius;
    margin: 5px;
}


@gab-profilImg-size: 50px;
@gab-profilImg-borderRad: @gab-profilImg-size/2;
.gab-profil-img{
    height: @gab-profilImg-size;
    width: @gab-profilImg-size;
    border-radius: @gab-profilImg-borderRad;
    margin-top:15px;
    margin-bottom:15px;
}