

.gab {
    background-color: @gab-bg-color;
    border-radius: @gab-border-radius;
    margin: 5px;
}


.gab-profil-img {
    height: @gab-profilImg-size;
    width: @gab-profilImg-size;
    border-radius: @gab-profilImg-borderRad;
    margin-top: @gab-top-margin;
    margin-bottom: @gab-top-margin;
    margin-right: 0;
}

.profil-img {
    height: @gab-profilImg-size;
    width: @gab-profilImg-size;
    border-radius: @gab-profilImg-borderRad;
    margin: 5px;
}
.gab-content{
    margin-top:@gab-top-margin;
    margin-bottom:1px;
}
.gab-com-like .nav-pills > li{
    margin-left:15px !important;
    list-style:none;
}
.gab-com-like .nav-pills > ul{
    list-style:none;
}
.gab-com-like{
    padding-top:10px;
    margin-bottom:4px;
}
.comment-form{
    height:60px;
}
.comment-form form{
    margin-top: @comment-form-input-margin;
    margin-bottom: @comment-form-input-margin;
}
.comment-form .profil-img {
    margin-left: 0;
}
.border-bottom{
    border-bottom:1px solid @body-bg;
}